<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paypal</title>
</head>
<body>
    <h1>Passport application</h1>
    <h2>Pay $24</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">
    </form>
</body>
</html>
